.score-box > div, .score-box span, .score {
  display: inline-block;
  vertical-align: middle;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  color: #333;
  background-color: #f1f1f1;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

h3,
h4,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

i {
  margin-right: 5px;
}

.red {
  color: #f00;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.flex-box > * {
  -webkit-order: 1;
  order: 1;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

.btn {
  text-align: center;
  color: #fff;
  background-color: #00bbee;
  font-size: 1rem;
}

.btn-large {
  padding: 10px;
}

.btn-block {
  display: block;
}

.score-box {
  margin: 10px 0;
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1.7;
  position: relative;
}
.score-box:before, .score-box:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.score {
  font-size: 0;
  text-align: center;
}
.score a {
  display: inline-block;
  color: #00bbee;
  font-size: 1rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 0;
  width: 25px;
  height: 16px;
  margin: 0 1px;
  position: relative;
}
.score a:nth-child(1).selected ~ a {
  color: #ccc;
}
.score a:nth-child(2).selected ~ a {
  color: #ccc;
}
.score a:nth-child(3).selected ~ a {
  color: #ccc;
}
.score a:nth-child(4).selected ~ a {
  color: #ccc;
}
.score a:nth-child(5).selected ~ a {
  color: #ccc;
}
.score a i {
  position: absolute;
  left: 0;
  top: 0;
}

.icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-book {
  background-image: url("../img/book.png");
}

.icon-card {
  background-image: url("../img/card.png");
}

.icon-clipboard {
  background-image: url("../img/clipboard.png");
}

.filter {
  margin-top: 10px;
}

.tag-list {
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding: 0 7px;
}
.tag-list > div {
  overflow-x: auto;
  font-weight: 600;
  color: #777;
  line-height: 38px;
}
.tag-list > div::-webkit-scrollbar {
  display: none;
}

.outer-container,
.content {
  height: 38px;
}

.content {
  white-space: nowrap;
  position: relative;
}
.content a {
  padding: 5px 15px;
  margin-right: 15px;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}
.content a:last-child {
  margin-right: 0;
}
.content a.selected {
  color: #00bbee;
}
.content .tag-bg {
  height: 31px;
  width: 3rem;
  position: absolute;
  z-index: 0;
  border: 2px solid #00bbee;
  color: #00bbee;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: left 0.2s linear, width 0.2s linear;
  -o-transition: left 0.2s linear, width 0.2s linear;
  -webkit-transition: left 0.2s linear, width 0.2s linear;
  transition: left 0.2s linear, width 0.2s linear;
}

.outer-container {
  position: relative;
  overflow: hidden;
}

.inner-container {
  position: absolute;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/*# sourceMappingURL=taglist.css.map */
