@charset "utf-8";

// 设置盒子为边框盒子
%borderBox {
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

// 强制不换行
%nowrap {
  word-wrap: break-word;
  word-break: break-all;
  white-space: nowrap;
}

// 三角
@mixin triangle-up($size1, $size2, $color) {
  width: 0;
  height: 0;
  border-left: $size1 solid transparent;
  border-right: $size1 solid transparent;
  border-bottom: $size2 solid $color;
}

@mixin triangle-down($size1, $size2, $color) {
  width: 0;
  height: 0;
  border-left: $size1 solid transparent;
  border-right: $size1 solid transparent;
  border-top: $size2 solid $color;
  font-size: 0;
}

@mixin triangle-right($size1, $size2, $color) {
  width: 0;
  height: 0;
  border-top: $size1 solid transparent;
  border-bottom: $size1 solid transparent;
  border-left: $size2 solid $color;
  font-size: 0;
}

@mixin triangle-left($size1, $size2, $color) {
  width: 0;
  height: 0;
  border-top: $size1 solid transparent;
  border-bottom: $size1 solid transparent;
  border-right: $size2 solid $color;
  font-size: 0;
}

@mixin css3($property, $value...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

// 动画
@mixin animate($txt...) {
  @each $key in -webkit-, -moz-, -o-, '' {
    #{$key}animation: $txt;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
