@charset "UTF-8";

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
}

td,
th {
  border: 1px solid #ccc;
  width: 14.2%;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
  height: 140px;
  position: relative;
}

th {
  height: auto;
  text-align: left;
  padding: 0 8px 4px;
  font-weight: normal;
  color: #bcc2cd;
  font-size: 12px;
}

td {
  &.active {
    background-color: #fff;
    border: 1px solid #93d4fc;
    box-shadow: 0 0 5px #60caff;
    border-collapse: separate;
  }
  & > span {
    position: absolute;
    width: 100%;
    padding: 5px 1em;
    display: block;
    left: 0;
    top: 0;
    height: 27px;
    font-size: 12px;
    font-weight: bold;
    color: #888;
    text-align: left;
  }
  ul {
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
  }

  li {
    margin: 5px;
    padding: 0;
  }
}


.c-today {
  //background-color: #f2dede;
}

.plan {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  background-color: orange;
  color: #fff;
  &:after {
    content: ' ';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 3px auto 0;
  }
}

.plan-complete {
  &:after {
    background-color: green;
  }
}

.plan-reject {
  &:after {
    background-color: red;
  }
}

.plan-nosubmit {
  &:after {
    background-color: blue;
  }
}