@charset "UTF-8";
@import "base";

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
}

td,
th {
  border: 1px solid #ccc;
  width: 14.2%;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  height: 60px;
}

th {
  text-align: center;
}

.c-today {
  background-color: orangered;
}

.plan {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  background-color: orange;
  color: #fff;
  &:after {
    content: ' ';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 3px auto 0;
  }
}

.plan-complete {
  &:after {
    background-color: green;
  }
}

.plan-reject {
  &:after {
    background-color: red;
  }
}

.plan-nosubmit {
  &:after {
    background-color: blue;
  }
}

.box {
  width: 500px;
}

#monthValue {
  width: 4em;
  text-align: center;
}