@charset "UTF-8";
*, *:after, *:before {
  box-sizing: border-box;
}

.pop.pop-info span {
  display: inline-block;
  vertical-align: middle;
}

.pop .confirm-box > div:last-child:before, .pop .confirm-box > div:last-child:after {
  content: "";
  display: table;
}
.pop .confirm-box > div:last-child:after {
  clear: both;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.pop-box {
  visibility: hidden;
}
.pop-box.show {
  visibility: visible;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.pop {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  width: 80%;
  position: fixed;
  top: 0;
  margin: auto;
  z-index: 4;
  color: #fff;
  display: none;
}
.pop .pop-close {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: -10px;
  right: -10px;
  z-index: 10;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  background-color: #c8c8c8;
}
.pop .pop-content {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 20px;
}
.pop.pop-pulling .pop-close {
  top: -5px;
  right: -5px;
}
.pop.pop-pulling p {
  text-align: center;
  bottom: 9%;
  position: absolute;
  width: 100%;
  line-height: 1.3;
  margin-bottom: 40px;
}
.pop .btn-box {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 9%;
  text-align: center;
  padding: 0 10%;
  margin-top: 10px;
}
.pop .btn {
  background-color: #0066d5;
  background-image: none;
  font-size: 20px;
}
.pop:before, .pop:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.pop:after {
  width: 50%;
  height: 50%;
  margin: 20% 25% 0;
  z-index: 6;
}
.pop.loading {
  background-image: none;
  width: 70%;
  max-width: 300px;
  height: 200px;
  text-align: center;
}
.pop.loading img {
  width: 40px;
  max-width: 187px;
  -moz-animation: rotate 2s linear infinite;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
.pop.loading .btn-gradient-v {
  display: block;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODlkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYzdlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0089d9), color-stop(100%, #00c7e1));
  background: -moz-linear-gradient(bottom, #0089d9 0%, #00c7e1 100%);
  background: -webkit-linear-gradient(bottom, #0089d9 0%, #00c7e1 100%);
  background: linear-gradient(to top, #0089d9 0%, #00c7e1 100%);
  width: auto;
  font-size: 14px;
  margin: 10px auto;
  padding: 10px 20px;
}
.pop.loading:before {
  display: none;
}
.pop.loading:after {
  display: none;
}
.pop.pop-confirm, .pop.pop-info {
  max-width: 500px;
  background-image: none;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODlkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYzdlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0089d9), color-stop(100%, #00c7e1));
  background: -moz-linear-gradient(top, #0089d9 0%, #00c7e1 100%);
  background: -webkit-linear-gradient(top, #0089d9 0%, #00c7e1 100%);
  background: linear-gradient(to bottom, #0089d9 0%, #00c7e1 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.pop.pop-confirm h3,
.pop.pop-confirm h6,
.pop.pop-confirm p, .pop.pop-info h3,
.pop.pop-info h6,
.pop.pop-info p {
  margin: 0;
  font-weight: normal;
}
.pop.pop-confirm:before, .pop.pop-info:before {
  display: none;
}
.pop.pop-confirm:after, .pop.pop-info:after {
  display: none;
}
.pop.pop-info .info-content {
  padding: 10px;
}
.pop.pop-info .info-content + .line {
  margin-bottom: 15px;
}
.pop.pop-info .icon-ok {
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  background-color: #3ebbbe;
  position: relative;
}
.pop.pop-info .icon-ok:before {
  content: '';
  display: block;
  position: absolute;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 40%;
  height: 60%;
  left: 0;
  top: 0;
  margin: 15% 30%;
}
.pop.pop-info .bottom-text {
  margin-bottom: 10px;
  text-align: center;
}
.pop .info-title {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
}
.pop .info-calendar {
  width: 110px;
  margin: 10px auto;
  border: 1px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.pop .info-calendar .line {
  margin-top: 20px;
}
.pop .info-calendar-content {
  padding: 10px 0;
}
.pop .info-calendar-content span {
  vertical-align: baseline;
  margin: 0 2px;
}
.pop .confirm-box input[type="text"],
.pop .confirm-box input[type="password"] {
  border: 1px solid #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #e5e5e5;
  color: #989898;
  padding: 5px;
}
.pop .confirm-box > div:first-child {
  padding: 10px;
  height: 60%;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.pop .confirm-box > div:first-child h3,
.pop .confirm-box > div:first-child h6 {
  margin: 10px;
}
.pop .confirm-box > div:last-child a {
  display: block;
  float: left;
  width: 50%;
  padding: 10px;
  color: #0066d5;
  font-size: 16px;
  text-align: center;
}
.pop .confirm-box > div:last-child a:first-child {
  border-right: 1px solid #fff;
}
.pop .confirm-content {
  display: inline-block;
  margin: auto;
}

.line {
  width: 100%;
  border-top: 1px solid #fff;
}

.text-large {
  font-size: 35px;
}

.dotting {
  display: inline-block;
  width: 10px;
  min-height: 2px;
  padding-right: 2px;
  border-left: 2px solid currentColor;
  border-right: 2px solid currentColor;
  background-color: currentColor;
  background-clip: content-box;
  box-sizing: border-box;
  animation: dot 4s infinite step-start both;
}

.dotting:before {
  content: '...';
}

.dotting::before {
  content: '';
}

:root .dotting {
  margin-left: 2px;
  padding-left: 2px;
}

/* IE9+ */
@keyframes dot {
  25% {
    border-color: transparent;
    background-color: transparent;
  }
  /* 0个点 */
  50% {
    border-right-color: transparent;
    background-color: transparent;
  }
  /* 1个点 */
  75% {
    border-right-color: transparent;
  }
  /* 2个点 */
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.animatedS {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedE {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (max-height: 568px) {
  .pop:after {
    margin-top: 14%;
  }
}

/*# sourceMappingURL=modalBox.css.map */
