*,
*:after,
*:before {
	box-sizing: border-box
}

body,
h1,
ul,
li {
	margin: 0;
	padding: 0
}

li {
	list-style-type: none
}

input{
	padding: 5px;
}

#d3{
	position: absolute;
	right: 0;
	top: 0;
}
